In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1546,tt0475944,20000000,37597471,The Covenant,Steven Strait|Laura Ramsey|Jessica Lucas|Taylo...,Renny Harlin,Only the power of Hell can help them.,Four young men who belong to a supernatural le...,97,Action|Adventure|Fantasy|Horror|Science Fiction,"Screen Gems, Inc.",9/8/2006,5.2,2006
1016,tt1673434,120000000,829000000,The Twilight Saga: Breaking Dawn - Part 2,Kristen Stewart|Robert Pattinson|Taylor Lautne...,Bill Condon,The epic finale that will live forever,"After the birth of Renesmee, the Cullens gathe...",115,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Sunswept Entertainment|Te...,11/13/2012,6.1,2012
260,tt1041829,40000000,317375031,The Proposal,Sandra Bullock|Ryan Reynolds|Mary Steenburgen|...,Anne Fletcher,Here comes the bribe...,When she learns she's in danger of losing her ...,108,Comedy|Romance|Drama,Touchstone Pictures|Mandeville Films|Kurtzman/...,6/1/2009,6.7,2009
192,tt1020072,20000000,66787908,Selma,David Oyelowo|Tom Wilkinson|Carmen Ejogo|AndrÃ...,Ava DuVernay,"Martin Luther King, Lyndon Baines Johnson and ...","""Selma,"" as in Alabama, the place where segreg...",127,History|Drama,Plan B Entertainment|Harpo Films|Celador Films...,12/25/2014,7.5,2014
929,tt0293815,20000000,33526835,Friday After Next,Ice Cube|Mike Epps|John Witherspoon|Don Curry|...,Marcus Raboy,The party's back in the 'hood!,Craig and Day Day have finally moved out of th...,85,Comedy|Drama,New Line Cinema,11/22/2002,6.5,2002

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [86]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок, например:

# добавляем колонку (profit = revenue - budget) (прибыль = сборы - бюджет)
profit = data.revenue - data.budget
data['profit'] = profit
data.head()

#определим функцию для разложения колонки, возвращает измененный датафрейм
# datafr - датафрейм
# colname - имя колонки, которую требуется разложить
def exp_col(datafr, colname):
    datafr[colname] = datafr[colname].str.split('|')
    datafr = datafr.explode(colname)
    return datafr

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [87]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
# +

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.sort_values(by='budget', ascending=False).reset_index().loc[0].original_title

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [88]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [9]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [89]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [11]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [90]:
answers['4'] = '2. 110'
# +

In [14]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [91]:
answers['5'] = '1. 107'
# +

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [92]:
answers['6'] = '5. Avatar (tt0499549)'
# +

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [93]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# +

In [20]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [94]:
answers['8'] = '1. 1478'
# +

In [22]:
data[data.profit > 0].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [95]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

In [24]:
data[data.release_year == 2008].query('revenue == revenue.max()') \
    .original_title

599    The Dark Knight
Name: original_title, dtype: object

In [25]:
# второй способ
df = data[data.release_year == 2008]
df[df.revenue == df.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [96]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

In [27]:
data[(data.release_year >= 2012)&(data.release_year <= 2014)] \
    .query('profit == profit.min()') \
    .original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [97]:
answers['11'] = '3. Drama'
# +

In [29]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
df = data[['genres']].copy()
df = exp_col(df, 'genres')
df.genres.value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [30]:
df = data[['genres', 'original_title']].copy()
df = exp_col(df, 'genres')
df.groupby('genres').original_title.count() \
    .sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [98]:
answers['12'] = '1. Drama'
# +

In [65]:
df = data[['genres']][data.profit > 0].copy()
df = exp_col(df, 'genres')
df.genres.value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [99]:
answers['13'] = '5. Peter Jackson'
# +

In [33]:
df = data[['director', 'revenue']].copy()
df = exp_col(df, 'director')
df.groupby('director').revenue.sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [100]:
answers['14'] = '3. Robert Rodriguez'
# +

In [35]:
df = data[data.genres.str.contains('Action')].copy()
df = exp_col(df, 'director')
df['director'].value_counts(ascending=False).index[0]

'Robert Rodriguez'

In [36]:
# второй способ
df = data.copy()
df = exp_col(df, 'director')
df = exp_col(df, 'genres')
df[df.genres == 'Action'].groupby('director').genres.count() \
    .sort_values(ascending=False) \
    .index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [101]:
answers['15'] = '3. Chris Hemsworth'
# +

In [38]:
df = data[data.release_year == 2012].copy()
df = exp_col(df, 'cast')
df.groupby('cast')[['revenue']].sum() \
    .sort_values(by='revenue', ascending=False) \
    .revenue.idxmax()

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [102]:
answers['16'] = '3. Matt Damon'
# +

In [40]:
df = data[data.budget > data.budget.mean()].copy()
df = exp_col(df, 'cast')
df.groupby('cast')[['budget']].count() \
    .sort_values(by='budget', ascending=False) \
    .budget.index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [103]:
answers['17'] = '2. Action'
# +

In [42]:
filter_cast = data.cast.str.contains('Nicolas Cage')
df = data[filter_cast][['genres', 'cast']].copy()
df = exp_col(df, 'genres')
df.genres.value_counts().idxmax()

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [104]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# +

In [44]:
col = ['production_companies', 'profit', 'original_title']
df = data[col].copy()
df = exp_col(df, 'production_companies')
df = df[df.production_companies == 'Paramount Pictures']
df[df.profit == df.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [105]:
answers['19'] = '5. 2015'
# +

In [46]:
df = data[['release_year', 'revenue']].copy()
df = df.groupby('release_year').sum()
df[df.revenue == df.revenue.max()].reset_index().loc[0]['release_year']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [106]:
answers['20'] = '1. 2014'
# +

In [48]:
filter_company = data.production_companies.str.contains('Warner Bros')
df = data[filter_company].copy()
df = df.groupby('release_year').sum()
df[df.profit == df.profit.max()].reset_index().loc[0]['release_year']

2014.0

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [107]:
answers['21'] = '4. 9'
# +

In [50]:
df = data.copy()
df.release_date = pd.to_datetime(df['release_date'])
# создадим столбец с месяцем
df['release_month'] = pd.DatetimeIndex(df['release_date']).month
df.release_month.value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [108]:
answers['22'] = '2. 450'
# +

In [52]:
df = data.copy()
df.release_date = pd.to_datetime(df['release_date'])
# создадим столбец с месяцем
df['release_month'] = pd.DatetimeIndex(df['release_date']).month
df = df.query('release_month in [6,7,8]')
len(df)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [109]:
answers['23'] = '5. Peter Jackson'
# +

In [53]:
col = ['director', 'original_title', 'release_date']
df = data[col].copy()
df.release_date = pd.to_datetime(df['release_date'])
# создадим столбец с месяцем
df['release_month'] = pd.DatetimeIndex(df['release_date']).month
df = exp_col(df, 'director')
df = df.query('release_month in [12,1,2]')
df.director.value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [110]:
answers['24'] = '5. Four By Two Productions'
# +

In [55]:
col = ['production_companies', 'original_title']
df = data[col].copy()
df = exp_col(df, 'production_companies')
# создадим столбец с длиной названия
df['len_title'] = df.original_title.apply(lambda x: len(x))
df.groupby(['production_companies']).mean() \
    .sort_values(by='len_title', ascending=False) \
    .index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [111]:
answers['25'] = '3. Midnight Picture Show'
# +

In [57]:
def word_overview(x):
    x = x.split()
    return len(x)

col = ['production_companies', 'overview']
df = data[col].copy()
df = exp_col(df, 'production_companies')
# создадим столбец с количеством слов в описании
df['len_overview'] = df.overview.apply(lambda x: word_overview(x))
df.groupby(['production_companies']).mean() \
    .sort_values(by='len_overview', ascending=False) \
    .index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [112]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [59]:
df = data.copy()
df[df.vote_average > np.percentile(df['vote_average'], 99)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [113]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# +

In [61]:
df = data.copy()
# разбиваем строку с актерами
df['cast'] = df['cast'].str.split('|')
# создадим столбец с комбинациями актеров
df['comb_cast'] = df.cast.apply(lambda x: list(combinations(x, 2)))
# разложим колонку с комбинациями
df = df[['comb_cast']].explode('comb_cast')
# сгруппируем, получим количество пар и получим пять первых
df.comb_cast.value_counts().head(5)

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
Name: comb_cast, dtype: int64

ВАРИАНТ 2

# Submission

In [114]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. 9',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [115]:
# и убедиться что ни чего не пропустил)
len(answers)

27